{% extends 'giftlist/base.html' %}

{% block content%}
{% load static %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if user.is_authenticated %}
<h2 style="margin: 50px; text-align: center; color: white">You are already logged in!</h2>
{% else %}

        <form method="post" action="/userlogin/" class="container" >
            {% csrf_token %}
            {{ form.as_div }}
            <br>
            <button class="simple_btn" name="submit">Log In</button>
        </form>

{% endif %}


{% endblock %}